<!DOCTYPE html>
<html lang="en">
<head>
  <script src="../models/Review.ts"></script>
</head>
    <meta charset="UTF-8">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top bg-primary py-3 navpersonal">
        <div class="container" >
          <div class=" collapse navbar-collapse col-xs-1 col-md-1 col-lg-1">
            <a class="navbar-brand text-white" (click)="home()"> Home </a>
          </div>

        <div class="collapse navbar-collapse col-xs-6 col-md-6 col-lg-6" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li *ngIf="isLogged" class="nav-item navbuttons dropdown">
                <a class="dropdown-toggle nav-link text-white" data-toggle="dropdown">Content</a>
                <ul class="dropdown-menu back">
                  <li><a (click)="myContent()" id="myContent" class="text-white" >My Content</a></li>
                  <li><a id="upload" class="text-white"  data-toggle="modal" data-target="#uploadModal" >Upload</a></li>
                </ul>
              </li>
              <li class="nav-item navbuttons dropdown">
                <a class="dropdown-toggle nav-link text-white" data-toggle="dropdown">Categories</a>
                <ul class="dropdown-menu back">
                  <li *ngFor="let category of categories"><a (click)="searchByCategory(category)" class="text-white">{{category}}</a></li>
                </ul>
              </li>
                </ul>

        </div>
          <div class="nav navbar-right col-xs-5 col-md-5 col-lg-5">
            <ul class="nav ">
              <li class="searchField">
                <input #searchTerm type="text" class="form-control nav-item navbuttons searcher " placeholder="Search on all movies">
              </li>
              <li >
                <button type="submit" (click)="search(searchTerm.value)" class="btn btn-primary nav-item navbuttons">Submit</button>
              </li>
              <li>
                <a href="http://localhost:3000/login" id="loginButton" class="btn btn-success nav-item navbuttons">Log In</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>


<br>

<body class="carouselBottomSpace">
<main class="container carouselTopSpace">
    <section class="movies" id="movies">
       <br>
       <br>
        <div class="row" id="row1">
            <div *ngFor="let movie1 of showingMoviesRow1"  class="col-lg-3 col-md-4 col-sm-6">
                <article class="card" [style.height]="divHeight">
                    <header class="title-header">
                        <h3>{{movie1.youtubeName}}</h3>
                    </header>
                    <div class="card-block">
                        <div class="img-card">
                            <img src={{movie1.youtubeImage}} alt="Movie" class="w-100" />
                        </div>
                        <p class="tagline card-text text-xs-center">Product: {{movie1.product}}</p>
                        <p class="tagline card-text text-xs-center">Brand: {{movie1.brand}}</p>
                        <p class="tagline card-text text-xs-center">Category: {{movie1.category}}</p>
                        <p class="tagline card-text text-xs-center">verified: {{movie1.verifiedUser}}</p>
                        <a class="btn btn-primary btn-block text-white" target="_blank"  ><i class="fa fa-eye"></i> Watch Now</a>
                        <a *ngIf="myContents" data-toggle="modal" data-target="#editModal"  (click)="getReviewToEdit(movie1)"  class="btn btn-success btn-block text-white"><i class="fa fa-pencil "></i> Edit</a>
                        <a *ngIf="myContents" (click)="saveReviewToDeleteAndOpenConfirmModal(movie1)" class="btn btn-danger btn-block text-white"><i class="fa fa-trash "></i> Trash</a>
                    </div>
                </article>
            </div>
        </div>
      <br>


      <br>
      <div class="row" id="row2">
        <div *ngFor="let movie2 of showingMoviesRow2"  class="col-lg-3 col-md-4 col-sm-6">
          <article class="card" [style.height]="divHeight">
            <header class="title-header">
              <h3>{{movie2.youtubeName}}</h3>
            </header>
            <div class="card-block">
              <div class="img-card">
                <img src={{movie2.youtubeImage}} alt="Movie" class="w-100" />
              </div>
              <p class="tagline card-text text-xs-center">Product: {{movie2.product}}</p>
              <p class="tagline card-text text-xs-center">Brand: {{movie2.brand}}</p>
              <p class="tagline card-text text-xs-center">Category: {{movie2.category}}</p>
              <p class="tagline card-text text-xs-center">verified: {{movie2.verifiedUser}}</p>
              <a class="btn btn-primary btn-block text-white" target="_blank"  ><i class="fa fa-eye"></i> Watch Now</a>
              <a *ngIf="myContents" data-toggle="modal" data-target="#editModal"  (click)="getReviewToEdit(movie2)"  class="btn btn-success btn-block text-white"><i class="fa fa-pencil "></i> Edit</a>
              <a *ngIf="myContents" (click)="saveReviewToDeleteAndOpenConfirmModal(movie2)" class="btn btn-danger btn-block text-white"><i class="fa fa-trash "></i> Trash</a>
            </div>
          </article>
        </div>
      </div>
    </section>
</main>
<br>
</body>


<!-- Trigger the modal with a button -->

<footer>

    <div class="container-fluid bg-primary py-3">
      <div class="innerpagination">
      <div class="pagination" >
        &nbsp;<a (click)="prevPage()" class="pagerButton">«</a>
        <a (click)="changePage(1)" id="1" class="strong">1</a>
        <a  *ngFor="let page of pager" (click)="changePage(page)"  id="{{page}}" class="pagerButton">{{page}}</a> <!-- pagerButton-->

        &nbsp;<a (click)="nextPage()" class="pagerButton">»</a>
      </div>
      </div>
    </div>
</footer>
<!--/.footer-->
<!--/.footer-bottom-->


<div #uploadModal class="modal fade upload" id="uploadModal">
  <div class="modal-content">

    <div class="modal-body">
      <button id="uploadCloser" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <form id="createForm" method="POST" action="" novalidate="novalidate">
              <div class="form-group">
                <label for="product" class="control-label">Product:</label>
                <input #product type="text" class="form-control" id="product" name="product" value="" required="" title="Product name" placeholder="">
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                <label for="link" class="control-label">Video Link:</label>
                <input #link type="text" class="form-control" id="link" name="link" value="" required="" title="Please copy youtube link here" placeholder="">
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                <br>
                <select #selectCategory  id="selectCategory" name="selectbasic" class="form-control"> <!--(change)=""-->
                  <option *ngFor="let category of categories" value={{category}}>{{category}}</option>
                  <option selected value="predefinido"><B>Category</B></option>
                </select>
              </div>
              <div class="form-group">
                <br>
                <select #selectBrand  id="selectBrand" name="selectbasic" class="form-control"> <!--(change)=""-->
                  <option *ngFor="let brand of brands" value={{brand}}>{{brand}}</option>
                  <option selected value="predefinido"><B>Brand</B></option>
                </select>
              </div>

              <div id="loginErrorMsg2" class="alert alert-error hide">¡Something went wrong!</div>
              <br>
              <button type="submit" id="createButton" (click)="createReview(product.value,link.value,selectBrand.value,selectCategory.value)"  class="btn btn-success btn-block navbuttons">Upload</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div #editModal class="modal fade upload" id="editModal">
  <div class="modal-content">

    <div class="modal-body">
      <button id="uploadCloser1" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <form id="createForm1" method="POST" action="" novalidate="novalidate">
              <div class="form-group">
                <label for="product" class="control-label">Product Name:</label>
                <input [(ngModel)]="editingproduct" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="product1" name="product" value="" required="" title="Product Name" placeholder="">
                <span class="help-block"></span>
              </div>

              <div class="form-group">
                <br>
                <select [(ngModel)]="editingbrand" [ngModelOptions]="{standalone: true}"  id="selectbrand1" name="selectbasic" class="form-control"> <!--(change)=""-->
                  <option *ngFor="let brand of brands" value={{brand}}>{{brand}}</option>
                  <option selected value="predefinido"><B>Brand</B></option>
                </select>
              </div>
              <div class="form-group">
                <br>
                <select [(ngModel)]="editingcategory" [ngModelOptions]="{standalone: true}"   id="selectcategory1" name="selectbasic" class="form-control"> <!--(change)=""-->
                  <option *ngFor="let category of categories" value={{category}}>{{category}}</option>
                  <option selected value="predefinido"><B>Category</B></option>
                </select>
              </div>

              <div id="loginErrorMsg21" class="alert alert-error hide">¡Something went wrong!</div>
              <br>
              <button type="submit" (click)="editReview()"  class="btn btn-success btn-block navbuttons">Update</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="errorModal" class="modal fade in hide errorModal" style="display:block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center modal-header-danger">
        <h4 class="modal-title">This user doesn't exist.</h4>
      </div>
      <div class="modal-footer text-center">
        <div class="form-inline text-center">
            <button (click)="closeErrorModal()" class="btn btn-danger btn-md">Ok</button>

        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div #confirmModal id="confirmModal" class="modal fade in hide errorModal" style="display:block;">>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"><B>Do you agree to delete this review?</B></h4>
      </div>
      <div class="modal-footer">
        <div class="form-inline">
          <button class="btn btn-danger" (click)="closeConfirmModal()" >Cancelar</button>
          <button class="btn btn-primary" (click)="deleteReview()" data-dismiss="modal"><span class="fa fa-trash"></span> Confirmar</button>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->

</html>
